<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nominas Web</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Nominas Web</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/crearUsuario}">Crear Empleado</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/eliminarUsuario}">Eliminar Empleado</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/muestraEmpleados}">Mostrar los datos de los
							empleados</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/formulario}">Mostrar el salario de un empleado</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/modificaEmpleado}">Modificar los datos de un
							empleado</a></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>
